name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  PGUSER: postgres
  PGHOST: localhost
  PGPASSWORD: postgres
  PGDATABASE: test-apisrv
  NAME: apisrv

jobs:

  test:
    runs-on: ubuntu-latest
    env:
      TEST_PGDATABASE: test-apisrv
    services:
      postgres:
        image: postgres
        ports:
          - 5432:5432
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: test-apisrv
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.24.x'

    - uses: actions/checkout@v2

    - name: Prepare test db
      run: make db-test

    - name: Tests with db
      run: make test

  test-short:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.24.x'

    - name: Tests without db
      run: make test-short

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.24.x'

    - name: Build
      run: go build -v ./...
